# ignore the folder that contains raw CSVs
/load-files/

# ignore the folder that contains analyzed CSVs
/analyzed-files/

# ignore the file that states how grades are to be calculated by category and weights
grading-config.*

